@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1766764436010') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianhua:before {
  content: "\e62f";
}

.icon-xiangshang:before {
  content: "\e652";
}

.icon-a-qipaoshenglvehao:before {
  content: "\e75c";
}

